# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
*.code-workspace
.idea/

# Sistema
.DS_Store
Thumbs.db

# Arquivos de saída
*.out
*.exe
*.log
*.tmp

# Dados gerados
saida_resultados/
*.csv
